@import './../../../../colors';

$table-border-color: $light-grey;
$table-row-hover-background-color: $white-smoke;
$table-row-hover-text-color: $black;
$table-cell-hover-underline-color: $orange;
$details-button-color: $green;
$details-button-hover-color: $dark-green;
$details-button-hover-shadow-color: $near-black;

.employee-list {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;

  tr {
    text-align: center;
    border: 1px solid $table-border-color;

    &:hover {
      font-weight: 700;
      background-color: $table-row-hover-background-color;
      color: $table-row-hover-text-color;
    }
  }

  th, td {
    padding: 8px;
  }

  td:hover {
    text-decoration: underline;
    text-decoration-color: $table-cell-hover-underline-color;
  }
}

.details-button {
  padding: 5px 15px 5px 15px;
  height: 30px;
  background-color: $details-button-color;
  border: none;
  border-radius: 20px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  position: relative;

  &:hover {
    background-color: $details-button-hover-color;
    box-shadow: 2px 4px $details-button-hover-shadow-color;
  }
}
