.employee-list {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

.employee-list tr {
  text-align: center;
  border: 1px solid #DDD;
}

.employee-list tr:hover {
  font-weight: 700;
  background-color: #F5F5F5;
  color: #000000;
}

.employee-list th, td {
  padding: 8px;
}

.employee-list td:hover {
  text-decoration: underline;
  text-decoration-color: #FFCC00;
}

.details-button {
  padding: 5px 15px 5px 15px;
  height: 30px;
  background-color: #4CAF50;
  border: none;
  border-radius: 20px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  position: relative;
}

.details-button:hover {
  background-color: #2F6A31;
  box-shadow: 2px 4px rgba(38, 38, 38, 0.3);
}
