@import './../../../../colors';

$separator-color: $middle-grey;
$row-hover-color: $black;

.employee-details {

  &-container {
    position: relative;
    width: 100%;
    text-align: center;
  }

  &-header {
    position: relative;
    font-size: 2.5em;
    font-weight: 700;
    text-transform: uppercase;
  }

  &-content {
    position: absolute;
    top: 60px;
    width: 100%;
  }

  &-column {
    position: absolute;
    top: 60px;
    width: 50%;
  }

  &-row {
    min-height: 55px;

    &:hover {
      font-size: 1.5em;
      background-color: $row-hover-color;
    }
  }

  &-label {
    text-transform: capitalize;
    font-weight: 900;
  }

  &-footer {
    text-align: center;
    width: 89.6354166667%;
    position: fixed;
    bottom: 40px;
  }
}

.left {
  left: 0px;
}

.right {
  left: 50%;
}

hr.footer-separator {
  position: relative;
  top: 250px;
  background-color: $separator-color;
  height: 1px;
  border: 0;
}
