@import './../../../colors';

$navbar-link-color: $white;
$navbar-link-hovered-color: $black;
$navbar-link-hovered-underline-color: $orange;
$navbar-link-hovered-background-color: $white;
$icon-background-color: $white;
$separator-color: $light-grey;

.navbar {
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  height: 0.482456140351%;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875em;
  font-weight: 700;
  text-align: center;
}

.navbar a {
  color: $navbar-link-color;
  text-decoration: none;
  padding: 25px;
}

.navbar a:hover {
  color: $navbar-link-hovered-color;
  text-decoration: underline;
  text-decoration-color: $navbar-link-hovered-underline-color;
  background-color: $navbar-link-hovered-background-color;
}

.hamburger {
  position: absolute;
  top: 3.77192982456%;
  left: calc(94.7395833334% - 34px);
  display: none;
}

.menu-icon-top {
  display: block;
  position: absolute;
  top: 0;
  width: 34px;
  height: 3px;
  background-color: $icon-background-color;
}

.menu-icon-middle {
  display: block;
  position: absolute;
  top: 10px;
  left: 3px;
  width: 30px;
  height: 3px;
  background-color: $icon-background-color;
}

.menu-icon-bottom {
  display: block;
  position: absolute;
  top: 20px;
  width: 34px;
  height: 3px;
  background-color: $icon-background-color;
}

hr.nav-separator {
  position: absolute;
  top: 194px;
  left: 5.10416666667%;
  background-color: $separator-color;
  width: 89.6354166667%;
  height: 1px;
  border: 0;
}
