$background-color: rgba(0, 227, 254, 0);
$white: #FFFFFF;
$black: #000000;
$white-smoke: #F5F5F5;
$light-grey: #DDDDDD;
$orange: #FFCC00;
$middle-grey: rgba(255, 255, 255, 0.24);
$green: #4CAF50;
$dark-green: #2F6A31;
$near-black: rgba(38, 38, 38, 0.3);
