@import 'colors';

body {
  margin: 0px;
  padding: 0px;
  background-image: url("/assets/images/background.png");
  background-repeat: no-repeat;
  color: $white;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  width: 100%;
  height: 56.1%;
}

.logo {
  position: absolute;
  top: 3.42105263158%;
  left: 5.10416666667%;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: $background-color;
}

.content-container {
  margin-left: 5.10416666667%;
  margin-right: 5.10416666667%;
  padding: 0;
}

section.content {
  position: absolute;
  width: 89.6354166667%;
  top: 300px;
}
